<footer class="page-footer font-small pt-4">
    <div class="continer">

        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>Siga-nos</p>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <ul class="footer">
                    <li>
                        <a href="link" target="_blank">
                            <i class="icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>