<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Apagar Postagem</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Você tem certeza ?</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Postagem: {{postagem.titulo}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-danger" routerLink="/home">Não</button>
            <button class="btn btn-success" (click)="apagar()">Sim</button>
        </div>
    </div>
</div>