<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <p class="text-center">Login</p>
                    
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success">Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        <a routerLink="/cadastrar">Se não tem uma conta cadastre-se agora !</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6" id="background"></div>
    </div>
</div>